*{
    margin: 0cm;
}





@media (max-width:640px){


h3{
    font-size: 25px;
    text-align: center;
    margin-bottom: 15px;
    font-family: arial;
    font-style:unset;
    color: aliceblue;
    text-shadow: 1px 1px 1px black;
}

input{
    margin-bottom: 10px;
    outline: none;
    inset: 0;
    border: solid 1px  rgb(162, 123, 204);
    height: 25px;
    width: 220px;
}

input:focus{
    border: solid 1px rgb(97, 0, 189);
    transition: 200ms ease-in-out;
}

button{
    height: 25px;
    width: 225px;
    color: aliceblue;
    border-radius:2px;
    background-color:rgb(87, 26, 145);
    margin-bottom: 10px;
    outline: none;
    border: 0px;
}

button:hover{
    background: rgb(41, 8, 71) ;
    transition: 350ms ease-out;
}

a{
    margin-left: 63px ;
    text-decoration: none;
    color: rgb(20, 32, 54);
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin-top: 40%;
    align-items: center;
    width: 250px;
    height: 250px;
    background-color: rgb(172, 140, 207);
    box-shadow:1px 1px 1px 1px rgb(42, 45, 48);
}

.container2{
    background-color: rgb(230, 167, 255);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

}